.hidden,
.hideChildren > *,
.hideSiblings:not(.hidden) ~ *,
form:not(.altMode) #altStatus,
body.steam .webOnly,
body:not(.steam) .steamOnly,
#buildCpsTable.hideCpsPlus .cpsPlus,
#buildPriceTable.hideSell .sell,
#upgradeIcons.collapse .upgradeDivInfo,
.hideNextWithContent:not(:empty):not(.hidden) + * {
	display: none !important;
}

.invisible {
	visibility: hidden;
}

body {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 13px;
	color: #ffffff;
	background: #000000 url('img/darkNoise.png');
	white-space: nowrap;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	height: 100%;
}

noscript {
	font-size: 13pt;
	font-weight: bold;
	text-decoration: underline;
}

q {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	quotes: none;
}

h1 {
	font-size: 1.17em;
	font-weight: bold;
	margin: 1em 0;
}

h2 {
	font-size: 1em;
	font-weight: bold;
	margin: 1.33em 0;
}

form, ul, li, table, tr, td, th {
	padding: 0;
	margin: 0;
}

.ital {
	font-style: italic;
}

.inline-block {
	display: inline-block;
}

.alignLeft {
	text-align: left;
}

.alignCenter {
	text-align: center;
}

.alignRight {
	text-align: right;
}

.disabled {
	color: #cccccc;
	font-style: italic;
}

#altStatus {
	position: fixed;
	right: 0;
	top: 0;
	background-color: #cc0000;
	font-weight: bold;
	padding: 3px 5px;
	z-index: 10000;
}

a {
	cursor: pointer;
	color: #ffffff;
}

a:active {
	opacity: 0.8;
}

p a {
	text-decoration: underline;
}

p a:hover {
	color: #ffffff;
	text-shadow: 0 0 3px #ffffff;
}

form a {
	/*font-family: 'Kavoon', Georgia, serif;*/
	display: inline-block;
	border: 1px solid #cccccc;
	background: #000000;
	margin: 2px 5px 2px 0;
	color: #cccccc;
	font-size: 12px;
	padding: 4px 8px;
}

form a:active {
	background-color: #333333;
}

form a:not(.plusminus):not(.setDesired):hover,
a.tab.tabCurrent {
	border-color: #ffffff;
	color: #ffffff;
}

.clickme {
	border-bottom: 1px dashed #848484;
	cursor: pointer;
}

.clickme.disabled {
	font-style: italic;
	cursor: default;
}

b, strong, .bold,
.tabCurrent {
	font-weight: bold;
}

.plusminus {
	font-family: monospace;
	text-align: center;
	margin: 0;
	font-size: 12px;
	padding: 2px;
	width: 10px;
}

.altMode .plusminus {
	color: #ffffff;
}

/* .pick {
	color: #cccccc;
}

.pick option:not(.pick) {
	color: #ffffff;
} */

input[type="text"] {
	width: 35px;
}

input[type="text"].text {
	width: 200px;
}

input[type="text"],
select {
	color: #ffffff;
	background: #000000;
	border: 1px solid #cccccc;
}

select:disabled {
	background: #222222;
	opacity: 0.8;
}

::-webkit-input-placeholder { color: #cccccc; }
::-moz-placeholder          { color: #cccccc; }
:-ms-input-placeholder      { color: #cccccc; }
:-moz-placeholder           { color: #cccccc; }
::placeholder               { color: #cccccc; }

input.heaven {
	width: 75px;
}

input.deci {
	width: 55px;
}

input.exp {
	width: 175px;
}

input.date {
	width: 110px;
}

table, th, tr, td {
	font-size: inherit;
}

table {
	border-spacing: 0;
}

#buildCpsTable th:nth-child(n + 4),
#buildPriceTable th:nth-child(n + 5) {
	min-width: 90px;
}

.help {
	text-decoration: underline;
	font-size: 75%;
	cursor: help;
}

.star::after {
	content: '*';
}

#buildTables tbody tr:nth-child(odd) {
	background-color: rgba(42, 42, 42, 0.7);
}

#buildTables tbody tr:hover {
	background-color: rgba(64, 64, 64, 0.7);
}

th,
td {
	padding: 0 4px;
}

th:first-child,
td:first-child {
	padding-left: px;
}

th:last-child,
td:last-child,
#buildPriceTable.collapse .cumu {
	padding-right: 2px;
}

#presCalc td:first-child {
	padding-left: 0;
}

#buildPriceTable td:nth-child(2) {
	padding-right: 1px;
}

#buildPriceTable td:nth-child(3) {
	padding: 0;
}

.setDesired {
	padding: 2px 4px;
	margin: 0 4px;
}

#buildPriceTable td:nth-child(4) {
	padding-left: 1px;
}

#buildCpsTable td:nth-child(n + 4),
#buildPriceTable td:nth-child(n + 5),
#buildPriceTable tr:last-child td:not(:first-child) {
	text-align: right;
}

.section td {
	border-top: 1px dotted #848484;
}

#cpsMods > div {
	display: inline-block;
}

#globalCpsModIcons {
	margin-right: 5px;
}

.warning {
	color: #cc0000;
}

#recommendedList {
	counter-reset: prefix;
}

#recommendedList .clickme::before {
	counter-increment: prefix;
	content: counter(prefix) '. ';
}

#recommendedList:not(:empty) + #noRecsSpan {
	display: none;
}

#upgrades {
	position: relative;
}

.marginHead {
	margin-bottom: 10px;
}

#upgrades .marginHead {
	margin-top: 8px;
}

.menuIcons {
	white-space: normal;
	vertical-align: top;
}

.icon {
	width: 48px;
	height: 48px;
	display: inline-block;
	margin: 0 4px;
}

.tinyIcon {
	vertical-align: middle;
	display: inline-block;
	transform: scale(0.5);
	margin: -16px;
}

.icon, .crate, .usesIcon {
	background-image: url(img/icons.png);
}

.crate {
	vertical-align: top;
	display: inline-block;
	width: 48px;
	height: 48px;
	cursor: pointer;
	opacity: 0.3;
	margin: 6px;
	position: relative;
	background-color: rgba(0, 0, 0, 0.25);
}

.crate::before {
	content: '';
	position: absolute;
	left: -6px;
	top: -6px;
	width: 60px;
	height: 60px;
	display: block;
	background: url(img/upgradeFrame.png);
	background-position: 120px 0;
	z-index: 10;
}

.crate.enabled::before {
	background-position: 0 0;
}

.crate.enabled:hover::before {
	background-position: 60px 0;
}

.crate.shadow::before{
	background-position: 120px 60px;
}

.crate.shadow.enabled::before {
	background-position: 0 60px;
}

.crate.shadow.enabled:hover::before {
	background-position: 60px 60px;
}

.crate.unlocked {
	opacity: 0.8;
}

.crate.enabled,
.crate.unlocked.enabled {
	opacity: 1;
}

.crate:not(.enabled):hover::before {
	box-shadow: 0 0 6px #ffffff inset, 0 0 1px #000000;
	z-index: 20;
}

.crate:hover {
	background-color: #200e0a;
}

.crate.noFrame,
.crateTooltip .crate {
	background-color: transparent !important;
	margin: 2px;
}

.crate.noFrame::before,
.crateTooltip .crate::before {
	background: transparent;
}

#achOptions {
	margin-bottom: 8px;
}

.mysteryAchs .crate.achievement:not(.enabled) {
	background-position: 0 -336px !important;
}

.numShadow {
	font-weight: bold;
	font-size: 10px;
	color: #7700aa;
}

.hideDebug .upgrade.debug:not(.enabled):not(.unlocked),
.mysteryAchs .achBlock .achievement:not(.enabled),
.hideEarnedAchs .crate.achievement.enabled,
#gCookiesInfo.hideWrath .wrath,
#gCookiesInfo.hideHarvest .harvest,
#gCookiesInfo.hideFlight .dragonflight {
	display: none;
}

.buffType {
	margin-bottom: 5px;
}

.buffTooltip {
	min-width: 200px;
	font-size: 11px;
	margin: 8px 0;
}

.spacer {
	margin-left: 5px;
}

#gCookiesTable td:nth-child(n + 2):not(.noSel) {
	cursor: pointer;
}

#gCookiesTable td:nth-child(n + 2):not(.noSel):hover {
	background-color: rgba(42, 42, 42, 0.7);
}

#gCookiesTable td:nth-child(n + 2):not(.noSel).gcSelected {
	background-color: rgba(64, 64, 64, 0.7);
	font-weight: bold;
}

.close {
	color: #cccccc;
	font-weight: bold;
	cursor: pointer;
	font-family: Comic Sans MS;
	padding: 0 8px;
}

.close:hover {
	color: #ffffff;
}

#blacklistEles {
	max-width: 1000px;
	columns: 180px 5;
	-moz-columns: 180px 5;
	-webkit-columns: 180px 5;
}

#blacklistEles li {
	list-style: none;
	max-width: 175px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.strike {
	color: #cccccc;
	font-style: italic;
	text-decoration: line-through;
}

/* this is a mess */
.framed {
	/* background: #000000 url(img/darkNoise.png); */
	background-image: url(img/shadedBordersSoft.png), url(img/darkNoise.png);
	background-size: 100% 100%, auto;
	background-color: #000000;
	border-radius: 2px;
	color: #cccccc;
	padding: 4px 8px;
	margin: 4px;
	border: 3px solid transparent;
	border-image: url(img/frameBorder.png) 3 round;
	border-radius: 2px;
}

.framed b {
	color: #ffffff;
	font-weight: bold;
}

.framed .name {
	font-weight: bold;
	font-size: 110%;
	color: #ffffff;
	margin: 2px 0;
}

.framed q {
	display: block;
	position: relative;
	text-align: right;
	margin-top: 8px;
	font-style: italic;
	color: rgba(255, 255, 255, 0.5);
	font-size: 11.5px;
	font-family: Georgia;
}

.framed q::before {
	display: inline-block;
	content: "“";
	font-size: 14px;
	font-family: Georgia;
	font-weight: bold;
}

.framed q::after {
	display: inline-block;
	content: "”";
	font-size: 14px;
	font-family: Georgia;
	font-weight: bold;
}

/* .framed .close {
	position: absolute;
	top: -5px;
	right: 0;
	padding: 4px;
} */

.framed .block {
	padding: 8px;
	margin: 2px;
	border-radius: 4px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 1px #000000, 0 0 1px #000000 inset;
}

.prompt h3 {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	position: relative;
	font-variant: small-caps;
	display: inline-block;
}

.prompt h3::before, .prompt h3::after {
	content: '';
	display: block;
	width: 39px;
	height: 23px;
	position: absolute;
	top: -4px;
}

.prompt h3::before {
	background: url(img/featherLeft.png) no-repeat;
	left: -39px;
}

.prompt h3::after {
	background: url(img/featherRight.png) no-repeat;
	right: -39px;
}

.hasTinyCookie,
.priceIcon {
	padding-left: 18px;
	position: relative;
}

.priceIcon {
	font-weight: bold;
	color: #66ff66;
}

.hasTinyCookie::before,
.priceIcon::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	background-image: url(img/money.png);
	width: 16px;
	height: 16px;
}

.priceIcon.heavenly::before {
	background-image: url(img/heavenlyMoney.png);
}

.priceIcon.lump::before {
	background-image: url(img/sugarLump.png);
}

.priceIcon.disabled, .disabled .priceIcon {
	color: #ff6666;
	font-style: normal;
}

.costDetails {
	font-size: 80%;
	opacity: 0.7;
	line-height: 90%;
}

#tooltip {
	position: fixed;
	z-index: 100000;
	padding: 5px;
	pointer-events: none;
	white-space: normal;
	/* overflow: hidden; */
}

#tooltipBlock {
	/* background-color: #000000; */
	position: relative;
	overflow: hidden;
}

#parade {
	position: absolute;
	left: -11px;
	right: -11px;
	height: 32px;
	background-image: url(img/parade.png);
}

.tooltipAchsList {
	white-space: nowrap;
	max-width: 300px;
	overflow-x: hidden;
}

.tooltipAchsList div {
	overflow: hidden;
	text-overflow: ellipsis;
	color: #ffffff;
}

.buildingTooltipHighlight {
	position: absolute;
	left: 1px;
	top: 1px;
	right: 1px;
	bottom: 1px;
	background: linear-gradient(125deg, rgba(50, 40, 40, 1) 0%, rgba(50, 40, 40, 0) 20%);
	mix-blend-mode: screen;
	z-index: 1;
}

.buildingTooltip {
	z-index: 10;
	min-width: 350px;
	max-width: 450px;
	padding: 8px;
	position: relative;
}

.buildingTooltip .buildingPrice {
	float: right;
	text-align: right;
}

.descriptionBlock {
	border-radius: 6px;
	background: rgba(255, 255, 255, 0.1);
	padding: 2px 6px;
	margin: 3px;
	position: relative;
	font-size: 85%;
	text-shadow: 0 1px 0 #000000;
}

.descriptionBlock::before {
	position: absolute;
	display: block;
	content: "\2022";
	left: -4px;
	top: 2px;
	font-size: 16px;
}

.unshackled {
	font-size: 80%;
	text-align: center;
}

.synergizeWith {
	color: #ffffff;
	font-weight: bold;
	font-size: 80%;
	background: #000000;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
	border-radius: 3px;
	padding: 0 2px;
	display: inline-block;
}

.tooltipAchsList br,
.crateTooltip.hideStats .stats {
	display: none;
}

.crateTooltip {
	width: 350px;
	display: inline-block;
}

.crateTooltip .crate {
	float: left;
	width: 48px;
	height: 48px;
	margin: -5px 4px 0 -5px;
}

.crateTooltip .crate.hidden {
	display: inline-block !important;
}

.crateTooltip .priceIcon {
	float: right;
	font-weight: bold;
}

.tag {
	background-color: #cccccc;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent);
	display: inline-block;
	font-family: Arial;
	font-size: 10px;
	color: #000000;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
	border-radius: 3px;
	opacity: 0.85;
	padding: 0 3px;
	margin: 1px 2px 0 0;
	font-weight: bold;
}

.auraTooltip {
	width: 200px;
	text-align: center;
}

.auraTooltip h4 {
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	position: relative;
	font-variant: small-caps;
	display: block;
	margin: 0;
	padding: 0;
}

.productDragonBoostIcon {
	vertical-align: middle;
	display: inline-block;
	background-position: -1440px -576px;
	transform: scale(0.5);
	margin: -20px -16px;
}

.productDragonBoostTooltip {
	width: 280px;
	padding: 8px;
	text-align: center;
}

.templeIcon {
	pointer-events: none;
	margin: 12px 6px 0 6px;
	width: 48px;
	height: 48px;
	opacity: 0.8;
	position: relative;
}

.templeGod {
	/* box-shadow: 4px 4px 4px #000000; */
	cursor: pointer;
	position: relative;
	color: #ff3333;
	opacity: 0.8;
	/* text-shadow: 0 0 4px #000000, 0 0 6px #000000; */
	font-weight: bold;
	font-size: 12px;
	display: inline-block;
	width: 60px;
	height: 74px;
	background: url(img/spellBG.png);
}

.templeGod:hover,
.templeGod.selected {
	background-position: 0 -74px;
}
.templeGod:active {
	background-position: 0 74px;
}

.templeSlot .templeIcon {
	margin: 2px 6px 0 6px;
}

.templeGod:hover .templeIcon {
	top: -1px;
}

.templeGem {
	z-index: 100;
	width: 24px;
	height: 24px;
}

.templeGem1 {
	background-position: -1104px -720px;
}
.templeGem2 {
	background-position: -1128px -720px;
}
.templeGem3 {
	background-position: -1104px -744px;
}

.templeGod .templeGem {
	position: absolute;
	left: 18px;
	bottom: 8px;
	pointer-events: none;
}

.templeEffect {
	font-weight: bold;
	font-size: 11px;
	position: relative;
	margin: 0 -12px;
	padding: 4px;
	padding-left: 28px;
}

.templeGodTooltip {
	padding: 8px 4px;
	width: 350px;
}

.buildingIcon,
.templeGodTooltip .templeGodIcon {
	float: left;
	margin-left: -8px;
	margin-top: -8px;
}

.description .templeEffect {
	border-top: 1px solid rgba(255, 255, 255, 0.15);
	background: linear-gradient(to top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}

.templeEffect .templeGem {
	position: absolute;
	left: 0;
	top: 0;
}

.templeEffectOn {
	text-shadow: 0 0 6px rgba(255, 255, 255, 0.75);
	color: #ffffff;
}

.templeEffectHeader {
	margin: 6px 0;
	font-weight: bold;
}

.templeEffectActive {
	padding: 8px 4px;
	text-align: center;
}

.titleTooltip {
	color: #ffffff;
	white-space: pre-wrap;
}

.line {
	background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
	height: 1px;
	width: 90%;
	margin: 6px auto;
	position: relative;
}

.line::before,
.line::after {
	content: '';
	display: block;
	background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
	height: 1px;
	width: 90%;
	position: absolute;
	left: 0;
	bottom: 1px;
}

.line::after {
	bottom: -1px;
}

.negative {
	color: #ff6666 !important;
}

.green { color: #33ff00; } .green b { color: inherit; }
.red { color: #ff3300; } .red b { color: inherit; }
.gray { color: #999999; } .gray b { color: inherit; }

.turnInto {
	background: url(img/turnInto.png);
	width: 20px;
	height: 22px;
	position: absolute;
	left: 28px;
	top: 24px;
	z-index: 1000;
}

.gardenLineIcon {
	background: url(img/gardenPlants.png);
	float: left;
}

.gardenSeed {
	cursor: pointer;
	display: inline-block;
	width: 40px;
	height: 40px;
	position: relative !important;
}

.gardenSeed.locked .gardenSeedIcon {
	opacity: 0.3;
}

.gardenSeedIcon {
	pointer-events: none;
	transform: translate(0, 0);
	display: inline-block;
	position: absolute;
	left: -4px;
	top: -4px;
	width: 48px;
	height: 48px;
	background: url(img/gardenPlants.png);
}

.gardenSelectable.on::before {
	pointer-events: none;
	content: '';
	display: block;
	position: absolute;
	left: -10px;
	top: -10px;
	width: 60px;
	height: 60px;
	background: url(img/selectTarget.png);
	animation: wobble 0.2s ease-out;
	z-index: 10;
}

.gardenSeedTiny {
	transform: scale(0.5, 0.5);
	margin: -20px -16px;
	display: inline-block;
	width: 48px;
	height: 48px;
	background: url(img/gardenPlants.png);
}

.gardenSeedTiny.locked {
	background: url(img/icons.png);
	background-position: 0 -336px; /*mystery icon*/
	opacity: 0.35;
}

.gardenSeedTooltip {
	padding: 8px 4px;
	width: 400px;
}

.gardenSeedTooltipCost {
	float: right;
	text-align: right;
	width: 100px;
}

.gardenSoilTooltip,
.gardenTileTooltip {
	padding: 8px 4px;
	width: 350px;
}

.gardenDescMargin {
	margin: 6px 0;
}

.gardenDescFont {
	font-size: 11px;
}

#gardenField {
	position: relative;
}

#gardenBG {
	background: url(img/shadedBordersSoft.png), url(img/BGgarden.jpg);
	background-size: 100% 100%, auto;
	bottom: 16px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	border: 3px solid transparent;
	border-image: url(img/frameBorder.png) 3 round;
	border-radius: 2px;
	pointer-events: none;
}

#gardenPlot {
	width: 270px;
	height: 280px;
	border: 3px solid transparent;
}

.gardenTile {
	cursor: pointer;
	width: 40px;
	height: 40px;
	position: absolute;
}

.gardenTile::before {
	transform: translate(0, 0);
	opacity: 0.65;
	/* transition: opacity 0.2s; */
	pointer-events: none;
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	background: url(img/gardenPlots.png);
}

.gardenTile:nth-child(4n+1)::before {
	background-position: 40px 0;
}

.gardenTile:nth-child(4n+2)::before {
	background-position: 80px 0;
}

.gardenTile:nth-child(4n+3)::before {
	background-position: 120px 0;
}

.gardenTileIcon {
	background: url(img/gardenPlants.png);
	height: 48px;
	left: -4px;
	pointer-events: none;
	position: absolute;
	top: -4px;
	transform: translate(0, 0);
	transform-origin: 50% 40px;
	width: 48px;
}

.gardenTileIcon.dying {
	opacity: 0.5;
}

.gardenGrowthLine {
	display: inline-block;
	position: relative;
	box-shadow: 0 0 0 1px #000000, 0 0 0 1px rgba(255, 255, 255, 0.5) inset, 0 -2px 2px 0 rgba(255, 255, 255, 0.5) inset;
	width: 256px;
	height: 6px;
}

.gardenGrowthIndicator {
	background: #ffffff;
	box-shadow: 0 0 0 1px #ffffff, 0 0 0 2px #000000, 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	width: 1px;
	height: 6px;
	z-index: 100;
	border: 1px solid #000000;
	margin-top: -1px;
	margin-left: -1px;
}

.gardenGrowthIcon {
	background: url(img/gardenPlants.png);
	position: absolute;
	top: -32px;
	transform: scale(0.5, 0.5);
	width: 48px;
	height: 48px;
}

.productButton {
	text-align: center;
	background: rgba(0, 0, 0, 0.25);
	box-shadow: -1px -1px 0 rgba(255, 255, 255, 0.25), 0 0 1px 1px rgba(0, 0, 0, 0.5) inset;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 4px 8px;
	font-size: 11px;
	font-weight: bold;
	color: #cccccc;
	text-shadow: 1px 1px 0 #000000, -1px 1px 0 #000000, 1px -1px 0 #000000, -1px -1px 0 #000000;
	cursor: pointer;
	margin-left: 2px;
	margin-top: 2px;
	/* min-width: 45px; */
	min-height: 11px;
	display: inline-block;
}
